.main_bg {
  background-color: #4a4c64;
  background-size: cover;
  height: 100vh;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.todos-heading {
  color: white;
  padding-left: 20px;
}

.todo-user-input {
  height: 28px;
  width: 290px;
  border-radius: 4px;
}
.add_button {
  background-color: rgb(43, 62, 183);
  height: 30px;
  width: 80px;
  border-radius: 5px;
  border-width: 0px;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.todo-items-container {
  list-style-type: none;
  padding-left: 0px;
  /* background-color: rgb(43, 62, 183);
  width: 380px;
  height: 39px; */
}
